.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list--list-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.list--list-item:last-child {
  border-bottom: 0;
  margin: 0;
}

.no-result {
  display: none;
}


/* Higlighting */
.highlight {
  background-color: #fff34d;
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4 */
  border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
  padding:1px 4px;
  margin:0 -4px;
}